import * as React from 'react';
import { Text } from '@sitecore-jss/sitecore-jss-react';

type {{ properCase name }}PropsFields = {
  heading: {
    value?: string;
    editable?: string;
  } 
}
type {{ properCase name }}Props = {
  fields: {{ properCase name }}PropsFields;
};

type {{ properCase name }}AllProps = {{ properCase name }}Props;

const {{ properCase name }}: React.SFC<{{ properCase name }}AllProps> = (props: {{ properCase name }}AllProps) => (
  <div>
    <p>{{ properCase name }} Component</p>
    <Text field={props.fields.heading} />
  </div>
);

export default {{ properCase name }};